.create-client-job-container {
  width: 50%;
  margin: 0px auto;
  margin-top: 80px;
  background-color: rgb(22, 17, 27);
  padding: 20px 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.create-client-job-box {
  display: flex;
  flex-direction: column;
  padding: 10px 0px;
}
.create-client-job-box > label {
  margin-bottom: 10px;
  color: #fff;
}
.create-client-job-box > div > label {
  margin-bottom: 10px;
  color: #fff;
}
.create-client-job-box > input {
  padding: 10px 15px;
  font-size: 16px;
}
.create-client-job-box > select {
  padding: 10px 15px;
  font-size: 16px;
}
.job-salary-box {
  display: flex;
  align-items: center;
}
.job-salary-box > span {
  background-color: #fff;
  padding: 10px 20px;
  border: none;
}
.job-salary-box > input {
  padding: 15px 20px;
  border: none;
  width: 100%;
}
.job-salary-box > input:focus {
  border: none;
}
.display-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.left-box {
  width: 48%;
}
.left-box > div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
.left-box > div > input {
  padding: 12px 20px;
  width: 95%;
  border: none;
}
.left-box > div > span {
  background-color: #fff;
  padding: 8.2px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.right-box {
  width: 48%;
}
.right-box > div {
  margin-top: 15px;
  width: 100%;
  display: flex;
  align-items: center;
}
.right-box > div > input {
  padding: 12px 20px;
  width: 95%;
  border: none;
}
.right-box > div > span {
  background-color: #fff;
  padding: 8.2px 20px;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}
.create-client-job-box > button {
  padding: 9px 0px;
  font-size: 16px;
  color: #002d35;
  font-weight: bold;
  cursor: pointer;
}
.client-project-skill-add-btn {
  width: 20%;
  margin-top: 10px;
}
