.pagination-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
.pagination-container > button {
  padding: 6px 15px;
  color: #fff;
  background-color: rgb(0, 6, 62);
  border: none;
  cursor: pointer;
  margin: 0px 5px;
}
.pagination-container > p {
  background: #000;
  color: #fff;
  padding: 4.5px 20px;
  font-size: 12px;
  font-weight: bold;
}
