#registerImage {
  display: flex;
  justify-content: center;
}
#registerImage > img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}
.select-option > select {
  padding: 10px 20px;
  /* height: 40px; */
  width: 97.8%;
  margin-top: 20px;
  font-size: 14px;
  font-weight: 600;
}
.select-option option {
  padding: 10px 20px;
}
